[submodule "customWarning"]
	path = customWarning
	url = git@github.com:lvbealr/customWarning.git
[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
